@font-face {
    font-family: 'SansBook';
    src: url('VNFStagSansBook.eot?#iefix') format('embedded-opentype'),  url('VNFStagSansBook.woff') format('woff'), url('VNFStagSansBook.ttf')  format('truetype'), url('VNFStagSansBook.svg#VNFStagSansBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansThin-Light';
    src: url('VNFStagSansThin-Light.eot?#iefix') format('embedded-opentype'),  url('VNFStagSansThin-Light.woff') format('woff'), url('VNFStagSansThin-Light.ttf')  format('truetype'), url('VNFStagSansThin-Light.svg#VNFStagSansThin-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),  url('OpenSans-Semibold.woff') format('woff'), url('OpenSans-Semibold.ttf')  format('truetype'), url('OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SansBook';
}

.page__content {
    background:#f3f3f3;
}

img {
    max-width:100%;
    width:100%;
    height:auto;
}

.page--menu-page__background {
    background-color: #fff;
    color: white;
}

.menu-close,
.menu-close > .toolbar-button {

}

.menu-list,
.menu-item:first-child,
.menu-item {
    background-color: transparent;
    background-image: none !important;
    border-color: transparent;
}

.menu-item {
    padding: 0 0 0 20px;
    line-height: 52px;
    height: auto;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
    font-size: 0.9em;
}

.menu-item:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
    display: inline-block;
    margin-top: 12px;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    font-weight: 600;
}

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item {
    border-color: #393939;
    background-color: transparent;
    background-image: none !important;
}

.bottom-menu-item:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.onsen-sliding-menu__menu {
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75) !important;
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

*, .list__item {
    color:#3761ad;
}

.menu-item {
    font-weight: bold;
    text-shadow: none;
}

.light {
    font-family: 'SansThin-Light';
    font-weight: normal;
    text-shadow: none;
}

img.responsive {
    max-height: 100%;
    height: 100%;
    width: auto;
}

img.logo {
    width: 160px;
    height: auto;
    vertical-align: middle;
    margin-left: -25px;
}

.header-icon {
    display: inline-block;
    vertical-align: middle;
    max-width: 19px;
    max-height: 30px;
    height: auto;
}

.toolbar-button {
    padding:0;
}

.separators-left .header-icon {
    border-left: solid 1px #3761ad;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.separators-right .header-icon {
    border-right: solid 1px #3761ad;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-block {
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}

.text-block.blue {
    background-color:#3761ad;
}

.text-block.blue h3, .text-block.blue span {
    color:#fff;
}

h3 {
    margin:0;
    padding:0;
    font-size: 1.0em;
}

h3 span {
    font-family: 'SansThin-Light';
}

.green {
    background:#5b9f42;
}

.magenta {
    background:#66267d;
}

.orange {
    background:#bc6930;
}

.home-footer {
    display: table;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.home-footer .icon {
    width:100%;
    display:inline-block;
    text-align: center;
}

.home-footer .icon img {
    width:60px;
}

.home-footer > .button {
    /*display:table-cell;*/
    min-width:33.333%;
    max-width:33.333%;
    width:33.333%;
    border-radius: 0;
    padding-left:10px;
    padding-right:10px;
}

.home-footer .button .text {
    font-family: 'SansThin-Light';
    color:#fff;
    text-align: center;
    width: 100%;
    display: block;
    line-height: 20px;
}

.logo_big {
    width:150px;
    margin-top:20px;
}

.center {
    text-align:center;
}

.right {
    text-align:right;
}

.form {
    max-width:240px;
    margin:0 auto;
}

.form  .button.blue {
    background:#0062b2;
}

.form  .button.blue .label span {
    color:#fff;
}

input[type=text], input[type=password] {
    font-family: 'SansThin-Light';
    font-size: 16px;
    width: 93%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    border: solid 1px #0062b2;
    border-radius: 0;
}

.checkbox {
    background: url('../images/check_off.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.checkbox.on {
    background: url('../images/check_on.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}

.navigation-bar--android__center {
    margin-left: 14%;
}

.center .biglogo {
    width: 38px;
    display: inline-block;
}

.center span {
    display: inline-block;
    vertical-align: top;
    font-family: 'SansThin-Light';
}

.navigation-bar {
    display:table;
    width:100%;
}

.navigation-bar .left, .navigation-bar .center, .navigation-bar .right {
    display:table-cell;
    float:none;
    margin:0;
    padding:0;
    vertical-align: middle;
}

.navigation-bar .center .title {
    height:42px;
    margin-left: -20%;
}

.relative {
    position:relative;
}

.busqueda-general-content {
    position:absolute;
    bottom:-32px;
    left:0;
    right:0;
    margin: 10px;
}

.busqueda-content {
    margin: 10px;
    margin-top:30px;
    position:absolute;
    left:0;
    right:0;
}

.search-inline-form {
    background: #3761ad;
    padding: 10px;
    padding-top: 3px;
    padding-left: 14px;
    padding-right: 14px;
}

.input-search {
    font-size: 17px;
    background:url('../images/icon_lupa_blanco.png') right center no-repeat transparent;
    border-bottom:solid 1px #fff !important;
    background-size:28px;
    color:#fff;
}

.block {
    display:block;
}

.dates {
    display:table;
    width:100%;
}

.date-selector {
    width:50%;
    display:table-cell;
}

.date-selector-content {
    margin:5px;
    background:#fff;
    padding: 8px;
}

.date-selector .title {
    font-family: 'SansBook', Arial;
    font-weight: bold;
    font-size:12px;
    color:#264e98;
    display:block;
}

.date-selector .title.right {
    text-align: right;
}


.dateholder {
    position:relative;
}

.input.date, .date-text {
    border:0;
    display:block;
    font-size:20px;
    text-transform: uppercase;
    width:100%;
    height:100%;
}

.input.date {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.date-text {
    background:url('../images/icon_calendar.png') right center no-repeat transparent;
    background-size: 20px auto;
    padding:5px;
    padding-right:0px;
    font-size:25px;
    color:#3761ad;
}

.date-text.left {
    padding-right:5px;
    padding-left:0px;
    background-position:left center;
    text-align:right;
}

.selector-content {
    background:#fff;
}

.selectholder, .checkboxholder {
    position:relative;
}

.selectholder select, .checkboxholder input[type=checkbox] {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    opacity:0;
}

.selectholder .select-text {
    background:url('../images/icon_select.png') right center no-repeat transparent;
    margin-right: 5px;
    background-size: 15px;
    padding-top:5px;
    padding-bottom:5px;
    text-align: center;
    padding-right: 12px;
}

.checkboxholder .checkbox-text {
    background:url('../images/icon_checkbox_off.png') right center no-repeat transparent;
    background-size: 20px auto;
    padding-right:25px;
}

.checkbox-text.on {
    background:url('../images/icon_checkbox_on.png') right center no-repeat transparent;
    background-size: 20px auto;
}

.select-text, .checkbox-text {
    font-family: 'SansThin-Light';
    font-size:18px;
    color:#363636;
}

.input.inline {
    display:inline;
    border:0;
    border-bottom:solid 1px #4f4e51;
    width: 22px;
    vertical-align: bottom;
    padding: 1px;
    text-align: center;
}

.spinner {
    display:inline-block;
    width:10px;
    vertical-align: bottom;
    margin-bottom: -12px;
}

.spinner .top, .spinner .bottom {
    width:10px;
    height:10px;
    display:inline-block;
    padding: 3px;
}

.spinner .top {
    background:url('../images/icon_spinner_top.png') right center no-repeat transparent;
    background-size: 14px auto;
}

.spinner .bottom {
    background:url('../images/icon_spinner_bottom.png') right center no-repeat transparent;
    background-size: 14px auto;
}

.button2 {
    font-family: 'OpenSans-Semibold';
    width:100%;
    text-align: center;
}
.margin-top-10 {
    margin-top:10px;
}

.footer-form {
    margin-top:20px;
}


/* List*/

.list-item-container {
    line-height: 1;
    padding: 15px 0px 15px 5px;
}

.thumbnail {
    width: 130px;
    height: 130px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

.name {
    font-weight: 500;
    line-height: 16px;
    font-size: 15px;
    font-family: 'SansBook';
    margin-bottom: 6px;
}

.location {
    font-size: 14px;
    opacity: 0.4;
    margin-bottom: 6px;
}

.desc {
    line-height: 1.2;
    font-size: 13px;
}

/*****/

.list-link {
    color:#3761ad;
    display: inline-block;
}

.ons-row-inner .desc {
    color:#666666;
    font-family:'SansThin-Light';
}

.ons-row-inner .location {
    font-family: 'SansThin-Light';
    color:#3761ad;
}

.padding-5 {
    padding: 5px;
}

.list__item--chevron:before {
    right: 9px;
}

.arrow-container {
    background:#3761ad;
    margin-right: 5px;
}

.tabs {
    display:table;
    width:100%;
    border-bottom: solid 1px #3761ad;
    margin:0;
    padding:0;
}

.tab {
    color:#fff;
    font-family: 'SansBook';
    display: table-cell;
    background: transparent;
    margin:0;
    padding:0;
    padding-left:5px;
    padding-right:5px;
}

.tab-text {
    color:#fff;
    background:#cccccc;
    /*margin-left:5px;
    margin-right:5px;*/
    display:block;
    width:100%;
    text-align: center;
}

.tab.selected, .tab.selected .tab-text {
    color:#3761ad;
}

.map-container {
    position:relative;
}

.map-tabs {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

.price-container {
    background:url('../images/fondo_precio.png') 0 0 no-repeat transparent;
    background-size:100% 80px;
}

.price1 {
    font-family: 'SansBook';
    text-transform: uppercase;
    color:#fff;
    text-align: right;
    margin-top:5px;
    font-size:22px;
    margin-right:3px;
}

.price2 {
    font-family: 'SansThin-Light';
    text-decoration: line-through;
    color:#fff;
    text-align: right;
    margin-top:5px;
    font-size:18px;
    margin-right:3px;
}

.price-few {
    font-family: 'SansThin-Light';
    font-size:14px;
    color:#fff;
}

.collapse-container {
    padding:10px;
    background:#3761ad;
    margin-right:5px;
}

.collapse-icon {
    width:15px;
}

.collapse-title {
    background:#cccccc;
    margin-left:5px;
}

.collapse-title2 {
    background:#3761ad;
    color:#fff;
}

.collapse-title2 .title {
    font-family: 'SansThin-Light';
    font-size:16px;
    color:#fff;
    padding:6px;
    border-bottom:1px solid #fff;
    background:url('../images/icon_collapse2.png') right center no-repeat transparent;
    background-size:20px auto;
    margin-left:15px;
    margin-right:15px;
    margin-top:5px;
    margin-bottom:8px;
}

.collapse-title .title {
    font-family: 'SansThin-Light';
    font-size:16px;
    color:#3761ad;
    padding:6px;
    border-bottom:1px solid #3761ad;
}

.margin5 {
    margin-left:5px;
    margin-right:5px;
}

.top5 {
    margin-top:5px;
}

.button3 {
    background:#fff;
    border:1px solid #3c65af;
    display:block;
    color:#3761ad;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:10px;
    text-align: center;
    font-family: 'SansBook';
    font-size:16px;
    padding-top:5px;
    padding-bottom:5px;
    line-height: 24px;
}

.list-item2 {
    display:table;
    padding-left:20px;
    padding-right:20px;
}

.list-item2 .title {
    border-bottom:1px solid #3761ad;
    padding:8px;
    padding-right:10px;
}

.list-item2 .title2 {
    font-family: 'SansThin-Light';
    font-size:16px;
    color:#3761ad;
    background:url('../images/icon_plus.png') right center no-repeat transparent;
    background-size:10px auto;
}